
* {
  font-family: Verdana;
}

.grid-item-1 > ul > li > a {
  font-weight: bold;
}

body {
  background-color: silver;
}

.grid-item-1 { grid-area: menu; }
.grid-item-4 { grid-area: header; }
.grid-item-2 { grid-area: main; }
.grid-item-3 { grid-area: right; }

/**
.grid-container {
	margin: 5%;
	display: grid;
	grid-template-columns: 20% 70%;
	grid-template-rows: 400px 200px;
	grid-gap: 5px;

} */

.select_stock {
  text-decoration: none;
  color: black;
  font-size: 15px;  
}

.delete_stock {
  color:red;
  font-size: 9px;  
}

#header_title {
  color: black;
  font-size: 75px;
  text-align: center;
  font-family: Simplifica;
  margin:0px;
}

#header_thoughts {
  margin-bottom: 50px;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'menu main main main main right'
    'menu main main main main right';
  grid-gap: 5px;
  background-color: silver;
  grid-template-columns: 30% 40% 30; 
}

.grid-item-4 {
  background-color: white;
  border-radius: 10px;
}

.grid-item-1 {
  background-color: white;
  border-radius: 10px;
}

.grid-item-1 > ul{
  list-style-type: circle;
}

.grid-item-1 > ul > li{
}

.grid-item-2 {
  background-color: white;
  padding: 5%;
  border-radius: 10px;
}

.grid-item-2 > textarea{
  font-size: 15px;
  background-color: transparent;
  font-style: Verdana;
}

.grid-item-3 {
  background-color: white;
  padding: 1px;
  border-radius: 20px;
  width:100%;
  
} 

.grid-item-3 > p{
  font-size: 15px;
  margin: 0;
  font-weight: bold;
    
} 

.grid-item-3 > input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 15px;
  height: 20px;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 150px;
  font-weight: bolder;
}

#add_stock {
	margin-left: 20px;
  margin-right:0px;
  font-size: 15px;
  color: black;
}

#textarea_stock {
  width: 100%;
  height: 80%;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
}

.p_stock_info {

}

.span_gross {
  color: black;
  font-weight: bolder;
}

.span_loss {
  font-weight: bolder;
  color: red;
}

.span_earn {
  font-weight: bolder;
  color: green;
}